@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{
    overflow: hidden;

}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    row-gap: 15px;

}
/* Sidebar */
.sidebar{
    grid-row: 1 / 3;
    background-color:#1e8bd0;
    
}
.sidebar h1{
    padding-bottom: 50px;
}
.sidebar div{
    display: flex;
    flex-flow: column wrap;
    gap:15px;
    align-content: flex-start;
    padding: 5px 55px 75px 35px;
    font-size: 1.2rem;
    color: #FFFFFF;
}
   
.sidebar a[href]{
    color:#FFFFFF;
    text-decoration: none;
}
.sidebar a[href]:hover{
    transform: translateY(-2px);
    transition: 0.2s;
}
.sidebar span i{
    padding-right: 8px;
}
/* Header */

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-rows: 2fr 3fr;    
}
.search-bar{
    width: 550px; 
    border-radius: 15px;
    background-color: #dfe4ed;
}
.header-top{
    display: flex;
    padding: 15px;
    margin: 10px;
    gap: 3.5rem;
    align-items: center;

}
.header-bottom{
    display: flex;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    gap: 25.5rem;
    height: 7em;
    box-shadow: 0px 3px 10px -1px rgba(66, 68, 90, 0.4);
}
.header-text-left{
    display: flex;
    align-items: center;
    line-height: 20pt;
    gap: 45px;
    padding: 25px;
}
.buttons{
    display: flex;
    gap: 1.5rem;
}
.button {
    display: inline-block;
    margin-right: 10px;
    background: #339DFF;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 38px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100px;
    text-align: center;
  }
  
.button:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }
  
/* Main-content */
.main-content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 15px 15px 45px 10px;
    background-color:#dfe4ed;

    display: grid;
    grid-template-columns: 2.5fr 1fr; 
}
/* left-side */
.main-content-left{
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 15fr;
}
.project-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
.project-card{
    display: flex;
    padding: 15px 15px 15px 35px;
    flex-flow: column wrap;
    justify-content: flex-start;  
    align-items: flex-start;
       
    margin: 8px 25px 8px 8px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px rgb(197, 195, 195);
    background-image: linear-gradient(to left, rgba(0,0,0,0) 98%, orange 95%);

}
.project-card div{
    display: flex;
    align-self: flex-end;
    margin-top: auto;
    gap: 15px;
}
.project-card p{
    color:rgb(80, 78, 78);
    padding: 20px 100px 20px 0;
}
/* right-side */
.main-content-right{
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr;
}

.announcements{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    

}
.announcements-card{
    padding: 5px;
    box-shadow: 1px 2px 10px rgb(197, 195, 195);

}
.trending{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
}
.trending-card{
    box-shadow: 1px 2px 10px rgb(197, 195, 195);


}